.w3-theme-l5 {color:#000 !important; background-color:#e8ebfd !important}
.w3-theme-l4 {color:#000 !important; background-color:#b3bcf8 !important}
.w3-theme-l3 {color:#fff !important; background-color:#6779f2 !important}
.w3-theme-l2 {color:#fff !important; background-color:#1b37eb !important}
.w3-theme-l1 {color:#fff !important; background-color:#0e22a5 !important}
.w3-theme-d1 {color:#fff !important; background-color:#071150 !important}
.w3-theme-d2 {color:#fff !important; background-color:#060f47 !important}
.w3-theme-d3 {color:#fff !important; background-color:#050d3e !important}
.w3-theme-d4 {color:#fff !important; background-color:#050b35 !important}
.w3-theme-d5 {color:#fff !important; background-color:#04092d !important}

.w3-theme-light {color:#000 !important; background-color:#e8ebfd !important}
.w3-theme-dark {color:#fff !important; background-color:#04092d !important}
.w3-theme-action {color:#fff !important; background-color:#04092d !important}

.w3-theme {color:#fff !important; background-color:#081359 !important}
.w3-text-theme {color:#081359 !important}
.w3-border-theme {border-color:#081359 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#081359 !important}
.w3-hover-text-theme {color:#081359 !important}
.w3-hover-border-theme:hover {border-color:#081359 !important}
